/*-------INDEX----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*!--------------HEADER------------------*/
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font: weight 400; }

.container-fluid {
  z-index: 10; }

body div header h1 {
  font-size: 40px; }

header nav ul {
  list-style: none;
  display: flex; }

header nav ul li {
  margin: 5px 5px 5px 5px;
  font-size: 15px; }

header nav ul li a {
  text-decoration: none;
  color: white; }

main {
  background-color: #003641; }

/*----SECCION CAROUSEL (INDEX)-----*/
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }

.sec-carousel div {
  width: 800px; }

.carousel-inner div img {
  overflow: hidden;
  height: 500px;
  padding: 10px; }

/*---PROPIEDADES (TARJETAS DE PRODUCTOS)---*/
.productos {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: space-around; }

.card {
  z-index: 1; }

.productos div img {
  height: 100%; }

.btn:hover {
  background-color: black;
  color: white; }

/*----seccion-grid- conocenos----*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 10px;
  padding: 5px; }

.grid-item {
  position: relative;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75); }

.grid-container div img {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.img-uno {
  grid-column: span 2; }

.img-dos {
  grid-row: span 2; }

.img-seis {
  grid-column: span 2; }

footer {
  background-color: #146884; }

footer .contenedorfooter {
  display: flex;
  justify-content: space-around; }

footer h3 {
  color: black;
  font-size: 10px;
  background-color: white;
  text-align: center; }

/*------INDEX-----------*/
header {
  background-color: #120c14;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 10; }
  header h1 {
    color: white;
    font-size: 60px;
    display: flex;
    margin-left: 10px; }

/*!------SECCION HERO INDEX-----*/
.hero {
  width: 100%;
  height: 80vh;
  color: white;
  background-image: url(../img/complejolaelisa.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px; }
  .hero h2 {
    font-size: 30px;
    padding: 20px; }
  .hero p {
    font-size: 20px; }

/*!------SECCION UNO INDEX-----*/
.seccionuno {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .seccionuno div {
    width: 50%;
    margin: 20px;
    color: white; }
    .seccionuno div h2 {
      font-size: 50px; }
    .seccionuno div p {
      font-size: 20px; }
  .seccionuno img {
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 400px 30px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 10px 10px 400px 30px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 10px 10px 400px 30px rgba(0, 0, 0, 0.76);
    padding: 2px; }

/*!------SECCION DOS----*/
.seccion-dos {
  color: white;
  text-align: center; }
  .seccion-dos h2 {
    font-size: 40px; }
  .seccion-dos p {
    font-size: 20px; }
  .seccion-dos div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center; }
    .seccion-dos div img {
      width: 250px;
      height: auto;
      padding: 10px;
      border-radius: 20px;
      transition-duration: 2s; }
      .seccion-dos div img:hover {
        transform: scale(1.15); }

/*!-----------ASIDE--------*/
aside div p {
  width: 100%;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 100px; }

.carousel carousel-contenedor {
  display: flex;
  justify-content: center; }

/*-------PROPIEDADES--------*/
.propiedades h2 {
  text-align: center;
  background-color: white;
  color: black;
  font-size: 40px;
  padding: 10px; }

/*---SERVICIOS (PROPIEDADES)----*/
.servicios {
  height: auto;
  display: flex;
  color: white;
  justify-content: center;
  padding: 30px; }
  .servicios div h3 {
    font-size: 50px;
    padding: 10px; }
  .servicios .info-img {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    flex-wrap: wrap; }
    .servicios .info-img img {
      width: 400px;
      height: 180px;
      padding: 4px; }

/*---REQUISITOS-------*/
main .requisitos {
  display: flex;
  color: white;
  padding: 10px;
  width: 100%;
  height: 80vh; }
  main .requisitos .lista-requisitos h2 {
    font-size: 30px; }
  main .requisitos .lista-requisitos ol {
    font-size: 17px; }
  main .requisitos .lista-requisitos .folleto-requisitos img {
    width: 100%;
    height: 100%; }

/*----CONOCENOS-----*/
main .conocenos {
  text-align: center;
  color: white; }
  main .conocenos h2 {
    font-size: 50px; }
  main .conocenos p {
    font-size: 15px; }

/*----CONTACTANOS-----*/
.contactanos {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column; }
  .contactanos img {
    height: 350px; }
  .contactanos .descripcion-emprendimiento {
    color: white;
    text-align: center;
    padding: 20px; }
    .contactanos .descripcion-emprendimiento .titulo-descrip {
      text-align: center; }
      .contactanos .descripcion-emprendimiento .titulo-descrip h3 {
        font-size: 40px; }
      .contactanos .descripcion-emprendimiento .titulo-descrip h4 {
        font-size: 25px; }
      .contactanos .descripcion-emprendimiento .titulo-descrip img {
        width: 500px;
        padding: 20px; }
    .contactanos .descripcion-emprendimiento .div-uno-contactanos p {
      font-size: 13px; }
    .contactanos .descripcion-emprendimiento .div-uno-contactanos img {
      width: 500px;
      padding: 20px; }
    .contactanos .descripcion-emprendimiento .div-dos-contactanos p {
      font-size: 13px; }
    .contactanos .descripcion-emprendimiento .div-dos-contactanos img {
      width: 500px;
      padding: 20px; }
    .contactanos .descripcion-emprendimiento .div-tres-contactanos p {
      font-size: 13px; }
    .contactanos .descripcion-emprendimiento .div-tres-contactanos img {
      width: 500px;
      padding: 20px; }
    .contactanos .descripcion-emprendimiento .div-cuatro-contactanos p {
      font-size: 13px; }
    .contactanos .descripcion-emprendimiento .div-cuatro-contactanos img {
      width: 500px;
      padding: 20px; }
    .contactanos .descripcion-emprendimiento .div-cinco-contactanos p {
      font-size: 13px; }
    .contactanos .descripcion-emprendimiento .div-cinco-contactanos img {
      width: 500px;
      padding: 20px; }
  .contactanos h2 {
    text-align: center;
    color: white; }
  .contactanos .caja-formulario {
    padding: 10px; }
    .contactanos .caja-formulario .formulario {
      text-transform: uppercase;
      background-image: url(../img/tecnologia.jpg);
      background-position: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 3px;
      height: auto;
      width: 100%; }
      .contactanos .caja-formulario .formulario div {
        background-color: transparent;
        padding: 2px;
        color: white; }
        .contactanos .caja-formulario .formulario div label {
          background-color: transparent; }
        .contactanos .caja-formulario .formulario div textarea {
          background-color: transparent;
          width: 100%; }
      .contactanos .caja-formulario .formulario h3 {
        font-size: 20px; }

footer {
  background-color: #146884; }
  footer .contenedorfooter {
    display: flex;
    align-items: center; }
    footer .contenedorfooter .img-logo {
      width: 100px;
      height: 100px; }
    footer .contenedorfooter p {
      font-size: 15px;
      padding: 5px;
      text-align: start; }
    footer .contenedorfooter .redes {
      display: flex;
      flex-direction: row; }
      footer .contenedorfooter .redes img {
        padding: 5px;
        justify-content: space-around; }
  footer h3 {
    color: black;
    font-size: 10px;
    background-color: white;
    text-align: center; }

/*!------Seccion Responsive MEDIA QUERY-------*/
@media screen and (max-width: 912px) {
  /*----INDEX---*/
  /*----seccion uno-----*/
  .seccionuno div h2 {
    font-size: 60px; }
  .seccionuno div p {
    font-size: 18px; }
  .seccionuno img {
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 400px 30px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 10px 10px 400px 30px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 10px 10px 400px 30px rgba(0, 0, 0, 0.76);
    padding: 2px;
    margin-right: 30px; }
  .seccion-dos h2 {
    font-size: 30px; }
  .seccion-dos p {
    font-size: 18px; }
  /*-------aside-------*/
  aside div p {
    color: white;
    text-align: center;
    font-size: 18px; }
  /*-------footer-------*/
  footer .contenedorfooter {
    display: flex;
    justify-content: space-around; }
  footer p {
    font-size: 15px; }
  footer h3 {
    color: black;
    font-size: 10px;
    background-color: white;
    text-align: center; } }

@media screen and (max-width: 850px) {
  .seccionuno {
    margin: 5px; }
  .seccionuno div h2 {
    font-size: 40px; }
  .seccionuno div p {
    font-size: 15px; }
  .seccionuno img {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 800px) {
  .carousel .carousel-contenedor {
    display: flex;
    display: none; } }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  gap: 10px; }

.img-cinco {
  grid-column: span 2; }

.img-nueve {
  grid-column: span 2; }

/*---contactanos-formulario*/
.formulario {
  margin: 0; }

@media screen and (max-width: 768px) {
  /*propiedades-tarjetas de productos*/
  .productos div img {
    height: 100%;
    width: 100%; } }

@media screen and (max-width: 690px) {
  /*propiedades-servicios*/
  .servicios .info-img img {
    display: none; } }

@media screen and (max-width: 669px) {
  /*----seccion uno-----*/
  .seccionuno {
    height: 70vh; }
  .seccionuno div h2 {
    font-size: 30px; }
  .seccionuno div p {
    font-size: 15px; }
  .seccionuno img {
    width: 250px;
    height: 250px; }
  /*------aside------*/
  aside div p {
    width: 100%;
    color: white;
    text-align: start;
    font-size: 15px;
    margin-left: 10px;
    padding: 10px; } }

@media screen and (max-width: 637px) {
  footer .contenedorfooter {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
  footer .img-logo {
    width: 100px;
    height: 200px; } }

@media screen and (max-width: 592px) {
  .seccionuno div p {
    font-size: 10px; } }

/*-----contactanos-div-descripcion*/
@media screen and (max-width: 528px) {
  .contactanos .descripcion-emprendimiento .divs-contactanos img {
    width: 300px;
    height: 200px; } }

@media screen and (max-width: 520px) {
  /*--seccion-dos---*/
  .seccion-dos div {
    justify-content: center; }
  /*-----conocenos-seccion-grid------*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
    gap: 10px; } }

/*-----contactanos-div-descripcion*/
@media screen and (max-width: 508px) {
  .contactanos .logo-contactanos {
    display: none; }
  .contactanos .descripcion-emprendimiento .titulo-descrip h3 {
    font-size: 30px; }
  .contactanos .descripcion-emprendimiento .titulo-descrip h4 {
    font-size: 20px; }
  .div-cuatro-contactanos {
    display: none; }
  .div-cinco-contactanos {
    display: none; } }

@media screen and (max-width: 481px) {
  /*----seccion uno-----*/
  .seccionuno {
    height: 60vh;
    margin-top: 10px; }
  .seccionuno div h2 {
    font-size: 15px; }
  .seccionuno div p {
    font-size: 10px; }
  .seccionuno img {
    width: 250px;
    height: 250px;
    margin: 0px 10px 0px 0px; }
  /*-----seccion-dos-----*/
  .seccion-dos h2 {
    font-size: 20px; }
  .seccion-dos p {
    font-size: 10px; }
  /*------aside------*/
  aside div p {
    width: 100%;
    color: white;
    text-align: start;
    font-size: 10px;
    margin-left: 10px;
    padding: 10px; }
  footer .contenedorfooter {
    display: flex;
    align-items: center; }
    footer .contenedorfooter .img-logo {
      width: 100px;
      height: 100px; }
    footer .contenedorfooter p {
      font-size: 10px;
      padding: 5px;
      text-align: start; }
    footer .contenedorfooter .redes {
      display: flex;
      flex-direction: row; }
      footer .contenedorfooter .redes img {
        padding: 5px;
        justify-content: space-around; } }

@media screen and (max-width: 446px) {
  .seccionuno img {
    width: 200px;
    height: 300px;
    margin: 0px 10px 0px 0px; } }

@media screen and (max-width: 376px) {
  .seccionuno div h2 {
    font-size: 13px; }
  .seccionuno div p {
    font-size: 10px; }
  .seccionuno img {
    width: 150px;
    height: 250px;
    margin: 0px 10px 0px 0px; } }

@media screen and (max-width: 370px) {
  .seccionuno div h2 {
    font-size: 13px; }
  .seccionuno div p {
    font-size: 10px; } }
